body{
    background-color: #e9eaea;
}
#head{
    background-color: white;    
}

#logo{
    margin: 10px;
    padding: 10px;
}

.button {
    float: right;
    color: white;
    border-color: #46c9b6;
    background-color: #46c9b6;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    
    color: white;
    border-color:  #46c9b6;
    background-color: #46c9b6;
    border: none;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    width: 40%;
}

.button-1{
    float: right;
    color: #62d1c1;
    border-color: #34B3A0;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: #34B3A0;
}


#mid-left{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e9eaea;
    text-align: center;
    font-size: 30px; 
    padding: 40px
}

#img{
    float: left;
}

table{
    float: right;
    margin: 20px 80px;
            
}

input{
    float: right
    width: 50%;
    padding: 10px 30px;
    
}


.button-1:hover {
    color: #34B3A0;
    background-image: none;
    background-color: transparent;
    border-color: #34B3A0;
    
}

.button1:hover{
    color: #fff;
    background-color: #62d1c1;
    border-color: transparent;
    
}


.button:hover {
    color: white;
    background-color: #62d1c1;
    border-color: transparent;

}

#button{
    float: right;
    color: white;
    border-color: #46c9b6;
    background-color: #46c9b6;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
